.thumbnail .caption {
    color: white;
    position: absolute;
    width: calc(100% - 22px);
    bottom: 6px;
    left: 11px;
}
.image-title {
    padding: 2vmin;
    background: #000000b3;
    border-radius: 0 0 4px 4px;
}
.view-count{
    display: block;
    color: #8c8c8c;
    font-size: small;
    font-style: italic;
    font-weight: 100;
}