.main-container {
  margin-top: 70px;
  height: 100%;
  overflow-y: auto;
}
.loader {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.loader .fa-spin {
  color: #959a9b;
}
.error-alert {
  text-align: center;
}
.error-alert .buttons {
  display: flex;
  justify-content: space-around;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: hidden;
  z-index: 1000;
}
.empty-search {
  width: 100%;
  text-align: center;
}
